<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Для фиксированной вёрстки -->
    <!-- <meta name="viewport" content="width=1200" /> -->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'CSS/common.css' %}"/>
    {% block style %}

    {% endblock style %}
    <link rel="stylesheet" href="{% static 'CSS/reset.css' %}" />
    <link rel="shortcut icon" href="{% static 'Images/target.png' %}">
<!--    <link rel="stylesheet" href="{% static 'CSS/gate.css' %}"/>-->
<!--    <link rel="stylesheet" href="{% static 'CSS/leaderboard.css' %}" />-->
<!--    <link rel="stylesheet" href="{% static 'CSS/results.css' %}" />-->
<!--    <link rel="stylesheet" href="{% static 'CSS/quiz.css' %}" />-->

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock title %}</title>
  </head>
<body>
   {% block content %}
    {% endblock content %}
  <script src="{% static 'JS/homepage.js' %}"></script>
  <script src="{% static 'JS/leaderboard.js' %}"></script>
  <script src="{% static 'JS/quiz.js' %}"></script>
  <script src="{% static 'JS/results.js' %}"></script>
  <script src="{% static 'JS/gate.js' %}"></script>
</body>
</html>