{% extends 'base.html' %}
{% load static %}
{% block style %}
        <link rel="stylesheet" href="{% static 'CSS/homepage.css' %}">
    {% endblock style %}
{% block title %}Главная{% endblock title %}
  {% block content %}
<div class="darkscreen" data-state="off">
        <div class="modal">
            <img src="" alt=""><span class="info"></span>
            <div class="clearfix" style="height: 1px; clear: both;"></div>
        </div>
    </div>
    <div class="menu-button" data-state="off">
        <div class="icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#philosophers">Философы</a></li>
            <li><a href="#introduction">Введение</a></li>
            <li><a href="#quiz">Викторина</a></li>
            <li><a href="#ratings">Рейтинги</a></li>
        </ul>
    </div>
    <div class="top-screen" style="background-image: url({% static 'Images/bg.jpg' %});">
        <h1>Онлайн викторина по философии<br><span>НИРС-проект группы ИСТбд-22</span></h1>
    </div>

    <div id="philosophers">
        &nbsp;&nbsp;&nbsp;Философы, более подробное знакомство с которыми увеличит Ваши шансы на успешное прохождение:
        <div class="grid-pivot">
            <div class="grid">
                <div class="item"><img src="{% static 'Images/aristotel.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/diogen.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/platon.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/sokrat.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/protagor.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/geraklit.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/gegel.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/kant.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/descartes.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/lenin.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/engels.jpg' %}" alt=""></div>
                <div class="item"><img src="{% static 'Images/marx.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>

    <div id="introduction">
        &nbsp;&nbsp;&nbsp;Среди разных наук, как то история, математика, информатика, или психология, выделяется также философия (греч. люблю + мудрость). Основным вопросом данной науки является проблема отношения мысли к бытию, сознания и материи. В ней выделяются разные направления и области, изучаются разнообразные явления человеческой мысли.
        Для того, чтобы расширить свои знания, бывают полезны не только доклады и рефераты.
        <br>
        &nbsp;&nbsp;&nbsp;Один из альтернативных способов это сделать - пройти викторину. В нашей викторине 15 вопросов, по 4 варианта ответа в каждом. Ответив на вопросы, вы сможете проверить и расширить свои знания.
        <br><br>
        &nbsp;&nbsp;&nbsp;Желаем удачи!
        <br>
        <input type="button" value="Приступить к выполнению" id="quiz"> или <input type="button" value="Перейти к Рейтингам" id="ratings">
    </div>

    <div class="pool" hidden>
        <img src="{% static 'Images/aristotel.jpg' %}" alt=""><span>Аристотель (384 г. до н.э., Стагир, полуостров Халкидики - 322 г. до н.э., Халкида, остров Эвбея)
            Древнегреческий философ, основоположник формальной логики, натуралист классического периода, создал понятийный аппарат, который до сих пор пронизывает философский лексикон и стиль научного мышления, и всестороннюю систему философии, охватившую все сферы человеческого развития (социологию, философию, политику, логику, физику), заложил основы современных естественных наук.</span>
        <img src="{% static 'Images/diogen.jpg' %}" alt=""><span>Диоген (около 412 до н.э., Синоп - 10 июня 323 г. до н.э., Коринф)
            Древнегреческий философ, сторонник аскетизма, первым ввёл в обиход слово "космополит".</span>
        <img src="{% static 'Images/platon.jpg' %}" alt=""><span>Платон (7 мая 427 г. до н.э., Афины - 347 г. до н.э., Афины)
            Древнегреческий философ, впервые поставил вопрос о сущности вещей, противопоставлял вечную душу и смертное тело</span>
        <img src="{% static 'Images/sokrat.jpg' %}" alt=""><span>Сократ (около 469 г. до н.э., Афины - около 399 г. до н.э., Афины)
            Древнегреческий философ, которого иногда называют первым философом в собственном смысле этого слова, произвёл переворот в философии, перейдя от рассмотрения природы и мира к рассмотрению человека и к собственно философской теории</span>
        <img src="{% static 'Images/protagor.jpg' %}" alt=""><span>Протагор (около 485 г. до н.э., Абдеры, Древняя Греция - около 410 г. до н.э., Ионическое море)
            Древнегреческий философ, виднейший представитель софистов, которого также относят к скептикам и материалистам</span>
        <img src="{% static 'Images/geraklit.jpg' %}" alt=""><span>Гераклит (около 544 г. до н.э., Эфес, Азия - 483 г. до н.э., Эфес, Азия)
            Древнегреческий философ, создатель первой исторической формы диалектики, чья философская система контрастировала с атомистическими и материалистическими идеями Демокрита</span>
        <img src="{% static 'Images/gegel.jpg' %}" alt=""><span>Георг Гегель (27 августа 1770 г., Штутгарт, Герцогство Вюртемберг, Священная Римская империя - 14 ноября 1831 г., Берлин, Королевство Пруссия)
            Немецкий философ, один из творцов философии немецкого идеализма
            </span>
        <img src="{% static 'Images/kant.jpg' %}" alt=""><span>Иммануил Кант (22 апреля 1724 г., Кёнигсберг, Королевство Пруссия - 12 февраля 1804 г., Кёнигсберг, Королевство Пруссия)
            Немецкий философ, родоначальник немецкой классической философии, человек, оказавший широчайшее влияние на историю современной западной философии, автор ставшего важнейшим и в то же время одним из самых трудных для понимания философских трудов — «Критики чистого разума», идейный вдохновитель философской школы неокантианства</span>
        <img src="{% static 'Images/descartes.jpg' %}" alt=""><span>Рене Декарт (31 марта 1596 г., Лаэ, Турень, Королевство Франция - 11 февраля 1650 г., Стокгольм, Королевство Швеция)
            Французский философ, математик, механик, физик и физиолог, автор метода радикального сомнения в философии, создатель аналитической геометрии и современной алгебраической символики механицизма в физике, предтеча рефлексологии</span>
        <img src="{% static 'Images/lenin.jpg' %}" alt=""><span>Владимир Ильич Ленин (22 апреля 1870 г., Симбирск, Российская империя - 21 января 1924 г., Большие Горки, Сухановская волость, Подольский уезд, Московская губерния, Российская Советская Федеративная Социалистическая Республика, Союз Советских Социалистических Республик)
            Российский и советский философ, революционер, политический и государственный деятель, крупный теоретик марксизма, работавший в сфере материалистической философии, критике капитализма и империализма, теории и практике осуществления социалистической революции, построения социализма и коммунизма, политической экономии социализма, создатель Российской социал-демократической рабочей партии (большевиков), главный организатор и руководитель Великой Октябрьской Социалистической революции 1917 года в России, под его руководством было создано первое в истории социалистическое государство и Третий (Коммунистический) интернационал
            </span>
        <img src="{% static 'Images/engels.jpg' %}" alt=""><span>Фридрих Энгельс (28 ноября 1820 г., Бармен, Королевство Пруссия - 1895 г., Лондон, Британская империя)
            Немецкий философ, политический деятель, историк, вместе со своим другом и единомышленником Карлом Марксом соавтор второго и третьего томов "Капитала" (1885, 1894 гг.)</span>
        <img src="{% static 'Images/marx.jpg' %}" alt=""><span>Карл Маркс (5 мая 1818 г., Трир, Королевство Пруссия - 14 марта 1883 г., Лондон, Британская империя)
            Немецкий философ, социолог, экономист, писатель, поэт, политический журналист, лингвист, общественный деятель, историк, вместе со своим другом и единомышленником Фридрихом Энгельсом соавтор "Манифеста коммунистической партии" (1848 г.) и автор первого тома "Капитала" (1867 г.)</span>
    </div>

{% endblock content %}